@use "../../scss/breakpoint" as *;

.movie-list {
    color: black;
    
    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}